<div class="container">
    <form class="form-login" [formGroup]="loginForm">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginForm.get('email').hasError('required')">
                Min string length is 3! 
            </mat-error>
        </mat-form-field>
  
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                Min string length is 3! 
            </mat-error>
        </mat-form-field>
        <span class="forgot-password" (click)="forgotPassword()">
            Forgot password?
        </span>
        <button mat-button (click)="authentication()">Login</button>
    </form>
    <mat-error *ngIf="error">
        {{error}}
    </mat-error>
</div>
