
.holder-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    .main-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 25%;
            min-width: 300px;
            padding: 20px;
        }
        .check{
            display: block !important;
        }
    }
   
    .total-count{
        position: relative;
        display: none;
        width: 100%;
        padding: 10px;
        height: fit-content;
        box-shadow: 0 0 3px 2px #c5c3c3;
        margin: 10px 20px;
        h2{
            margin: 5px 0 30px 0;
        }
        .main-checkbox-container{
            position: static;
        }
        button{
            display: flex;
            justify-content: center;
            width: 70px;
            height: 30px;
            background: orange;
            border: 0;
            box-shadow: 0 0 3px 1px;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
        }
        span{
            position: absolute;
            top: 10px;
            right: 10px;
            color: red;
            font-size: 12px;
        }
    }
    
}
//  custom checkbox

input{
    display: none;
}
label{
    position: relative;
    padding-left: 25px;
}
label:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 2px 1px rgb(190, 190, 190);
    border-radius: 2px;
    background: #fff;
}
.checkbox-container input:checked + label:after{
    background-image: url(../../image/check-mark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-color: rgb(172, 229, 243);
}

//  custom checkbox

.item-card{
    position: relative;
    .content-holder{
        display: flex;
        .image-item{
            width: 50%;
            img{
                display: inline-block;
                width: 100%;
                height: auto;
            }
        }
        .context-item{
            width: 50%;
            .item-nav-button{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .nav-button{
                    box-shadow: 0 0 2px 1px;
                    background: rgb(202, 196, 199);
                    border-radius: 0;
                }
            }
            p{
                margin-left: 10px;
            }
        }
    }
    .delete-button{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .checkbox-container{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}


