<div class="container">
    <form class="form-register" [formGroup]="registrForm">
        <mat-form-field>
            <input matInput  placeholder="Firstname" formControlName="firstname" />
            <mat-error *ngIf="registrForm.get('firstname').hasError('required')">
                Min string length is 3! 
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput  placeholder="Secondname" formControlName="secondname" />
            <mat-error *ngIf="registrForm.get('secondname').hasError('required')">
                Min string length is 3! 
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput  placeholder="Email" formControlName="email" />
            <mat-error *ngIf="registrForm.get('email').hasError('required')">
                Invalid Email! 
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" />
            <mat-error *ngIf="registrForm.get('password').hasError('required')">
                Min string length is 3! 
            </mat-error>
        </mat-form-field>
        <button mat-button (click)="register()" >Registration</button>
    </form>
    <mat-error *ngIf="serverError">
        {{serverError}}
    </mat-error>
</div>