<div class="password-container">
    <form class="form-reset-password" [formGroup]="resetPasswordForm">
        <h2>Reset password</h2>
        <div class="item-field">
            <mat-form-field [ngClass]="{'mat-form-field-invalid ng-invalid': !matchPassword}">
                <input matInput 
                [ngClass]="{'error': !matchPassword}" 
                type="password" placeholder="New password" 
                formControlName="password"
                (click)="dropError()"
                (change)="dropError()"/>
                <mat-error>
                    Min string length is 3! 
                </mat-error>
            </mat-form-field>
    
            <mat-form-field [ngClass]="{'mat-form-field-invalid ng-invalid': !matchPassword}">
                <input matInput 
                [ngClass]="{'error': !matchPassword}" 
                type="password" placeholder="Confirm password" 
                formControlName="confirmPassword"
                (click)="dropError()"
                (change)="dropError()"/>
                <mat-error>
                    Min string length is 3! 
                </mat-error>
            </mat-form-field>
            <span class="error" *ngIf="!matchPassword">The password don't match!</span>
        </div>
        <button mat-button (click)="editPassword()">Reset password</button>
    </form>
</div>        
