.container-forgot-password{
    form{
        display: flex;
        flex-direction: column;
        padding: 25px;
        button{
            width: fit-content;
            align-self: flex-end;
            margin-top: 30px;
            background:  rgb(127, 217, 240);
            color: #fff;
            border: 0;
            box-shadow: 0 0 3px 1px;
            border-radius: 4px;
        }
    }
}